nav {
  background: #ffff;
  color: #EF4444;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

nav h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #EF4444;
}

.logo h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.logo h3 {
  margin: 0;
  font-size: 14px;
  
}
nav div {
  display: flex;
  gap: 15px;
}

nav button {
  padding: 10px 20px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-size: 15px;
  font-weight: 600;

  transition: 0.3s ease;
}

nav button:first-child {
  background: white;
  color: #EF4444;
}

nav button:last-child {
  background: #EF4444;
  color: white;
  border: 1px solid white;
}

nav button:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  nav div {
    width: 100%;
    justify-content: center;
  }
}
.user-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.welcome-text {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
/* USER SECTION */

.user-section {
  position: relative;
  display: inline-block;
}

/* PROFILE BUTTON */

.profile-btn {
  background: #c1121f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.profile-btn:hover {
  background: #9b0d17;
}

/* DROPDOWN */

.profile-dropdown {
  position: absolute;
  top: 55px;
  right: 0;

  width: 220px;

  background: #fff;
  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.18);

  display: flex;
  flex-direction: column;

  overflow: hidden;

  z-index: 999;
}

/* DROPDOWN BUTTONS */

.profile-dropdown button {
  width: 100%;

  background: white;
  border: none;

  text-align: left;

  padding: 14px 18px;

  font-size: 15px;

  cursor: pointer;

  transition: 0.25s;
}

/* Hover */

.profile-dropdown button:hover {
  background: #fff3f3;
  color: #c1121f;
}

/* Logout */

.profile-dropdown button:last-child {
  border-top: 1px solid #ececec;
  color: #c1121f;
  font-weight: 600;
}